@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@279&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #ffffff;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


/*main body styles*/
.body {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-template-columns: repeat(auto-fit);
    gap: 10px;
    padding: 0 10px 10px 10px;
    width: auto;
    margin: 10px 0 10px 0;
}

/*Title link*/
.header {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-template-columns: repeat(auto-fit);
    justify-content: center;
    align-items: center;
    border: #4a4a4a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 0;
    position: relative;
    grid-gap: 10px;
    height: 80px;
    width: auto;
    margin: 10px auto;
}

#logo {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 280%;
}


/*Navigation links*/
.nav-links {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    border: solid 2px #4a4a4a;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

nav>ul>li {
    display: inline;
    list-style-type: none;
    font-size: 120%;
    text-align: center !important;
    letter-spacing: 3px;
    margin: 10px 0 10px 0;
    padding: 20px 20px 20px 20px;
}


a {
    position: relative;
    display: inline-block;
    font-size: 110%;
    font-weight: 800;
    color: #4a4a4a;
    overflow: hidden;
    background: linear-gradient(to right, rgb(186, 186, 243), rgb(100, 100, 255) 50%, #d6d4d4 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

a:hover {
    background-position: 0 100%;
}


.active {
    border-bottom: solid 2px #4a4a4a;
    border-radius: 20%;
}

/*Main text body*/
.main {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-template-columns: repeat(auto-fit);
    border: solid 2px #4a4a4a;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 0.25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}


/*Footer and social media icons*/
.footer {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-template-columns: repeat(auto-fit);
    border: solid 2px #4a4a4a;
    border-radius: 10px;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

footer p {
    text-align: center;
    font-weight: bold;
}


footer>p {
    font-size: x-small;
    text-align: center;
    padding: 5px;
}

.social {
    list-style: none;
    text-align: center;
    letter-spacing: 3px;
    margin: 5px 25px 5px 25px;
}

.social>li {
    display: inline;
}

.social i {
    font-size: 150%;
    margin: 5px 25px 5px 25px;
}

/*media queries for laptops, desktops and tablets*/

@media screen and (max-width: 600px) {
    #logo {
        font-size: 150%;
    }

    .main {
        text-align: center;

    }

    .social li {
        font-size: 100%;
    }
}