@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@279&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*grid area*/

body {
    font-family: 'Gemunu Libre', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background-color: #000000e5;
    color: #434e4e;
    
    display: grid;
    grid-template-columns: 1.5em minmax(400px, 650px) minmax(200px, 320px) 1.5em /*10em 50vw 50vh 10em*/;
    grid-template-areas: 
                ". header header header"
                ". nav nav ."
                "hero hero hero hero"
                ". left-text left-text ."
                "footer footer footer footer"

}

.header {
    grid-area: header;
}


.nav-links {
    grid-area: nav;
}

.hero {
    grid-area: hero;
}

section {
    grid-area: left-text;
}

footer {
    grid-area: footer;
}

footer {
    background: #3a3a3a;
    color: #ff4;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*logo styling*/

.logo {
    font-size: 220%;
    color: rgb(125, 112, 136);
    letter-spacing: 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
}

.logo:hover{
    color: #434e4e;
} 



/*navigation links*/

.nav-links {
    font-size: 130%;
    letter-spacing: 1px;  
}

.nav-links li{
    color: rgb(125, 112, 136); 
}


/* commented out code for fixes to text alignment issues

h4 {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, 20%) 1fr 3em;
    grid-auto-flow: row;
    grid-gap: 2px 2px;
}


.main-text {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, 20%) 1fr 3fr;
    grid-auto-flow: row;
    grid-gap: 2px 2px;

}

.main-text-brakes {
    display: grid;
    grid-template-rows: minmax(240px, auto);
    grid-template-columns: minmax(auto, 20%) 1fr 3em;
    grid-auto-flow: row;
    grid-gap: 2px 2px;                           


}*/


/* for small screen sizes 320px and below */
@media screen and (min-width: 320px) {
    body {
        width: 100%;
    }
}